.footer {
    padding: 42px 0 0 0;
    border: 1px solid #E9E9E9;
}

.footer {
    &_block {}

    &_sides {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &_T {
        display: flex;
        align-items: start;
        gap: 80px;
    }

    &_T-item {
        
    }

    &_T-logo {
        font-family: "LabGrotesqueBlack";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        background: linear-gradient(270deg, #0953BC 0%, #2370DD 63.28%, #4992F9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_T-designs_link {
        color: #2D81F7;
        font-family: "RobotoRegular";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        display: block;
        padding: 3px 0 16px 0;
        border-top: 1px solid #E9E9E9;
        width: max-content;
    }

    &_T-text {
        color: #4C4C4C;
        font-family: "RobotoRegular";
        width: 348px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }

    &_T-contacts {
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding-top: 32px;

        span {
            color: #202020;
            font-family: "RobotoMedium";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 22.4px */
        }
    }

    &_T-tel {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            color: #4C4C4C;
            font-family: "RobotoRegular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }

    &_T-mail {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            color: #4C4C4C;
            font-family: "RobotoRegular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }

    &_T-item_Mlink {
        color: #000;
        font-family: "RobotoRegular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }

    &_T-item_links {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        gap: 16px;
    }

    &_T-item_link {
        color: #4C4C4C;
        font-family: "RobotoRegular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }

    &_B {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top: 1px solid #E9E9E9;

        .copyright {
            color: #4C4C4C;
            font-family: "RobotoRegular";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}