.header {
    background-color: #fff;
    background: #FFF;
    /* Shadow system */
    box-shadow: 0px 2px 30px 0px rgba(32, 32, 32, 0.06);
    &_container {
        max-width: 1920px !important;
        padding: 0 60px;
        margin: 0 auto;
    }

    &_block {
        background: #fff;
    }

    &_T {
        background: #fff;
    }

    &_sides {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
    }

    &_logo {
        font-family: "LabGrotesqueBlack";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        background: linear-gradient(270deg, #0953BC 0%, #2370DD 63.28%, #4992F9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_nav {}

    &_nav-link {
        display: inline-block;
        padding: 22.5px 16px;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid #2D81F7;
        }
        &.active {
            border-bottom: 2px solid #2D81F7;
            color: #2D81F7;
        }
    }

    &_actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &_link {
        padding: 12.5px 18px;
        font-family: "RobotoRegular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #2460FB;
        border-radius: 10px;
    }

    &_link-signUp {
        border: 2px solid var(--button-show-more-f-4-f-8-fe-default, #F4F8FE);
        background: var(--button-show-more-f-4-f-8-fe-default, #F4F8FE);
    }

    &_link-logIn {
        border: 2px solid var(--primary-colors-2-d-81-f-7-main-color, #2D81F7);
    }

    &_B {
        padding: 10px 0;
        border-top: 1px solid var(--border-e-9-e-9-e-91-px-20, #E9E9E9);

        .header_B-sides {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    &_B-Mlink {
        padding: 12.5px 28.5px;
        color: var(--button-fffff-button-white, #FFF);
        text-align: center;
        font-family: "RobotoRegular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 10px;
        border: 2px solid var(--primary-colors-2-d-81-f-7-main-color, #2D81F7);
        background: var(--primary-colors-2-d-81-f-7-main-color, #2D81F7);

        &:hover {
            color: var(--button-fffff-button-white, #FFF);
        }
    }

    &_B-nav {
        display: flex;
        align-items: center;
        // gap: 26px;
        width: 100%;
        justify-content: space-between;
    }

    &_B-link {}
}